:root {
    --primary-purple-50: hsl(260, 100%, 95%);
    --primary-purple-300: hsl(264, 82%, 80%) ;
    --primary-purple-500: hsl(263, 55%, 52%);

    --neutral-white: hsl(0, 0%, 100%);
    --neutral-grey-100: hsl(214, 17%, 92%);
    --neutral-grey-200: hsl(0, 0%, 81%);
    --neutral-grey-400: hsl(224, 10%, 45%);
    --neutral-grey-500: hsl(217, 19%, 35%);
    --neutral-dark-blue: hsl(219, 29%, 14%);
    --neutral-black: hsl(0, 0%, 7%);
}


body {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    justify-content: center;
    place-content: center;
    font-family: "Barlow Semi Condensed";
    font-size: 14px;
    background-color: rgb(168, 206, 211);
    color: white;
    overflow: hidden;
}

div[class*="box"]{
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
    z-index: 0;
}

.container {
    display: grid;
    grid-template: repeat(8 1fr) / repeat(4 2fr);
    max-width: 75vw;
    max-height: 75vh;
    margin: auto;
    padding: auto;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1 ;
    grid-row-end: 2;
    grid: 1 4 1 2;
    background-color: var(--primary-purple-500);
}

.box2 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1 ;
    grid-row-end: 2;
    background-color: var(--neutral-grey-500);
}


.box3 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1 ;
    grid-row-end: 3;
    background-color: var(--neutral-white);
}

.box4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-end: 3;
    background-color: var(--neutral-white);
}

.box5 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-end: 3;
    background-color: var(--neutral-black);
}

.box3, .box4 {
    color: black;
}

.nameContainer {
    border: 2px solid black;
    display: flex;
    align-items: center;
    position: relative;
}

.profilePic {
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 1em;
    padding: auto;
    height: 2em;
}

.design {
    z-index: -1;
    justify-self: end;    /* Align to right horizontally */
    align-self: start;   /* Align to top vertically */
}

div.boxHeader {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-right: auto;
    padding: 0;
}

.name {
    font-weight: 500;
    font-size: 1.1em;
}

.verfiedUser {
    font-size: .9em;
}

section {
    font-weight: 500;
    margin-bottom: 1em;
    padding: 1em
}
